<mat-sidenav-container class="tp-container">
<mat-sidenav mode="side" opened>
<section class="tp-section">
<span>File</span>
</section>
<section class="tp-section">
<span>Edit</span>
</section>
</mat-sidenav>
<mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
<!-- <form [formGroup]="form" (ngSubmit)="login()">
  <input formControlName="username" type="text">
  <button type="submit">Submit</button>
</form>
<a routerLink="/s">student</a>
<router-outlet></router-outlet>
<div>
  <input type="text" placeholder="Enter New Task" #task/>
  <br>
  <br>
  <button (click)="addTask(task.value)">Add New Task</button>
  </div>
  <ol *ngFor="let item of list"type="number">
  <li>{{item.id}} {{ item.name }}<button (click)="removeTask(item.id)">Remove</button></li>
  </ol>
  

  <button (click)="onEnroll()" style="background-color: blue">Enroll</button> -->
